.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao{
    display:flex;
    justify-content:space-between ;   
}

.card__botoes {
    display: flex;
    justify-content: space-between;    
}

.botoes {
    display: flex;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo, .descricao__titulo-2{
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-autora {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto, .descricao__texto-2 {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
}

.descricao__imagem {
    width: 45%;
    height: 45%;
}

.botoes__item {
    margin: 2em 1em 0 0;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 1.7em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    margin-top: 1em;
}

.descricao__estrela {
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }
    .card {
        margin: 2em auto;
        width: 50%;
    }

    .descricao__titulo, .descricao__titulo-autora {
        margin-top: 0.5em;
        font-size: 18px;
    }

    .descricao__titulo-2 {
        margin-top: 0.2em;
        font-size: 18px;
    }

    .descricao__texto-2 {
        margin-top: 0.5em;
    }

    
.descricao__imagem {
    width: 30%;
    height: 30%;
}

.botoes__ancora {
    padding: 1em 1.9em;
}

}

@media screen and (min-width: 1728px){
    .carrossel__container{
        display: flex;
        margin: 0 15vw 3em 15vw;
        align-items: center;
    }

    .carrossel__titulo {
        padding: 1.5em 0 0.9em 0;
    }

    .swiper-pagination {
        position: initial;
        margin: 0.1em 0;
    }

    .swiper {
        width: 40%;
    }

    .card {
        width: 40%;
    }

    .descricao__titulo {
        font-size: 24px;
        margin-top: 0.5em;
    }

    .descricao__titulo-2 {
        font-size: 24px;
        margin-top: 0.4em;
    }

    .descricao__titulo-livro {
        margin-top: 1em;
    }

    .descricao__titulo-autora {
        font-size: 24px;
        margin-top: 0.3em;
    }

    .descricao__texto {
        font-size: 15px;
        margin-top: 1em;
    }

    .descricao__texto-2 {
        font-size: 15px;
        margin-top: 0.5em;
    }
    
    .botoes__item {
        margin: 0.5em 0.7em;
        
    }

    .descricao__estrela {
        margin-top: 0.5em;
    }

    .descricao__imagem {
        width: 25%;
        height: 25%;
    }

    .botoes__ancora {
        padding: 1em 1.2em;
        display: flex;
        align-items: center;
    }

    .botoes {
        margin: 1.5em 0.5em 0 0;
    }

}